<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="mostrarMenu()">
        <ion-icon slot="start" name="menu-outline" ></ion-icon>
       </ion-button>
    </ion-buttons>

    <ion-title>Codigo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="ion-text-center">
     <ion-card-content>

        <ion-item>
          <ion-label position="fixed">Modulo: </ion-label>
          <ion-input type="text" [(ngModel)]="usuario.modulo" required></ion-input>
        </ion-item>

       <ion-item>
         <ion-label position="fixed">Sección: </ion-label>
         <ion-input type="text" [(ngModel)]="usuario.seccion" required></ion-input>
       </ion-item>

       <ion-button 
           expand="block" 
           (click)="generaScan()">
           Generar codigo QR
       </ion-button>
       
      <br>
       <qrcode [qrdata]="qrCodeString" [width]="150" [errorCorrectionLevel]="'M'"></qrcode>
      


     </ion-card-content>
  </ion-card>

  <ion-button 
     color="medium"
     expand="block" 
     class="ion-margin" 
     (click)="verScan()">
         Ver QR Code  
   </ion-button>
  <ion-card>
    
   <ion-item>
     <ion-label class="ion-text-wrap">Datos QR: </ion-label>
     <ion-label class="ion-text-wrap">{{scannedResult}}</ion-label>
   </ion-item>
  </ion-card>
</ion-content>

<ion-footer >
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="cerrarsesion()" >
        <ion-icon  slot="end" color="danger" name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
