<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button>
        <ion-icon slot="start" name="arrow-back-outline"></ion-icon>
      </ion-back-button>
    </ion-buttons>

    <ion-icon   slot="primary" name="person-add-outline"></ion-icon>
    <ion-title slot="start">RegistrAPP</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content>
  <icon-card>
    <img src="assets/logo-duoc.png" class="ion-padding">
  </icon-card>

  <form [formGroup]="formularioLoginprofe">



    <ion-item>
      <ion-label position="stacked">User: </ion-label>
      <ion-input type="text" formControlName="nombreprofe"  
       >
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Password: </ion-label>
      <ion-input type="password" formControlName="passwordprofe"  >
      </ion-input>
    </ion-item>
    <br>
    <ion-button (click)="Ingresoprofe()" expand="block" color="success"  fill="solid" >
      Iniciar Sesión
    </ion-button>
 
      <ion-button (click)="onClick()" expand="block" fill="clear" shape="round" routerLink="/reestpas">
        Olvidaste Tu Pass?
      </ion-button>
 
  </form>
  <br><br><br>
  
  <ion-button  expand="block" fill="outline" shape="round" routerLink="/regprofe">
    Registrarse
  </ion-button>



</ion-content>

<ion-footer>
  <ion-toolbar >
  </ion-toolbar>
</ion-footer>



