
ion-menu {
    --height: 80%;
    --max-height: 80%;
    --max-width: 80%;
    --min-height: 100%;
    --min-width: 90%;
    --width: 80%;
    ion-toolbar {
        --ion-background-color:#ABEFD0;

}
}