ion-toolbar{
    --ion-background-color:#ABEFD0
}

ion-card{
    --ion-background-color:#a5e3ec;
    ion-label {
        --color: #7588a8;
    }
    ion-div{
        display: block;
        ;
    }
    
    
}