<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="mostrarMenu()">
        <ion-icon slot="start" name="menu-outline"></ion-icon>
       </ion-button>
    </ion-buttons>
    <ion-title>introducción</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    
         <ion-col>
          <div class="ion-text-center">
            <ion-title color="dark">Problema</ion-title>
              <h6>A base de las múltiples dificultades que se crearon tras la llegada de la pandemía,
               sobre todo en el area escolar, como sabemos muchas cosas ahora son por medio Online, 
               donde hemos podido evidenciar que muchas veces se caen,
               no quedamos presente o diversos errores que pueden ser variados.</h6>
       
              <h6> 
               Por ello desarrollamos una app que agilizara la asistencia de los alumnos Duoc UC.</h6>
          </div>
          </ion-col>
          <ion-item>
             <img src="assets/Duoc_UC_-_Sede_Maipú.jpg" class="ion-padding">
          </ion-item>
        
  </ion-card>

</ion-content>
<ion-footer >
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="cerrarsesion()" >
        <ion-icon  slot="end" color="danger" name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
