ion-toolbar{
    --ion-background-color:#ABEFD0;
}
ion-content{
    --ion-background-color:rgb(164, 225, 225);
    ion-card {
        ion-col {
           color: rgb(108, 100, 100);
        }
       
       
    }
}


